@charset "UTF-8";
/* CSS Document */


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.sidebar{
	position:fixed;
	width:320px;
}

#header {
	border: 5px solid #FF8000;
	text-align:center;
	z-index:2;
	padding:15px; 
}


#header h1{
	font-size: 3em;
	text-align: center;
	font-weight: normal;
}

#header h1 #myP {
	color: #000;
	cursor: pointer;
}


#header #couleur {
}

#header #couleur div{
	width: 15px;
	height: 15px;
}

#header table{
	margin: auto;
}



.pub {
	border: 5px solid #FF8000;
	padding:15px; 
	margin-top: 15px;
}

.pub img{
	height: auto;
	margin-bottom:15px;
}

/*
.sidebar img+img{
	border-top: solid 5px black;
	padding-top:15px;
}
*/

.sidebar img:last-child{
	margin-bottom: 0;
}

.scrollplace {
	position:absolute;
	width:920px;
	height:658px;
	margin-left:335px;
}


#content {
	background: #F00;
	margin-left:345px;
	padding: 15px;
	position: relative;
	z-index: 1;
}

#content>*{
	max-width: 700px;
}

#content p{
	margin: 0;
}

#content p+p{
	margin-top: 1em;
}

#content p img{
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}


.fixedTop{
	position:fixed;
	top:0;
	z-index:10;
}

#gif3{
	display:inline-block;
	padding-left:200px;
	padding-top:40px;
}